:root {
  --background-color: rgb(10, 11, 12);
  --foreground-color: rgb(208, 233, 232);
  --foreground-color-hover: rgb(211, 246, 255);
  --lighten: rgba(208, 233, 232, 0.25);
  --panel-color: rgb(11, 19, 30);
  --panel-color-mid: rgb(15, 28, 44);
  --panel-color-hover: rgb(20, 36, 58);
  --border-color: rgb(44, 98, 169);
  --border-color-darker: rgb(13, 58, 117);
  --border-color-dim: rgba(44, 98, 169, 0.25);
  --border-color-hover: rgb(98, 194, 220);
  --power-color: rgb(117, 206, 206);
  --power-foreground-color: rgb(11, 32, 53);
  --power-glow-color: rgb(202, 255, 255);
  --power-fault-color: rgb(138, 49, 49);
  --power-fault-foreground-color: rgb(244, 223, 202);
  --power-fault-glow-color: rgb(53, 0, 0);
  --accent-color: rgb(40, 105, 189);
  --good-color: rgb(153, 255, 51);
  --bad-color: rgb(229, 43, 80);
  --good-color-1: rgb(171, 248, 111);
  --bad-color-1: rgb(222, 106, 131);
  --good-color-2: rgb(190, 240, 172);
  --bad-color-2: rgb(215, 170, 181);
  --good-color-opaque: rgb(30, 47, 19);
  --bad-color-opaque: rgb(43, 14, 22);
  --good-color-a: rgba(153, 255, 51, 0.25);
  --bad-color-a: rgba(229, 43, 80, 0.25);
  --good-color-a1: rgba(153, 255, 51, 0.15);
  --bad-color-a1: rgba(229, 43, 80, 0.15);
  --good-color-a2: rgba(153, 255, 51, 0.05);
  --bad-color-a2: rgba(229, 43, 80, 0.05);
  --good-color-a3: rgba(153, 255, 51, 0.025);
  --bad-color-a3: rgba(229, 43, 80, 0.025);
  --good-color-a4: rgba(153, 255, 51, 0.0125);
  --bad-color-a4: rgba(229, 43, 80, 0.0125);
  --class-x: rgb(153, 26, 189);
  --class-s: rgb(201, 20, 118);
  --class-a: rgb(222, 172, 16);
  --class-b: rgb(12, 192, 31);
  --class-c: rgb(206, 221, 224);
  --darken: rgba(0, 0, 0, 0.25);
  --border-width: 2px;
  --anti-border: -2px;
  --power-min-value: 0%;
  --power-max-value: 100%;
  --transition: background-color 100ms ease, color 100ms ease, opacity 100ms ease, text-shadow 100ms ease,
    background-image 100ms ease, border-bottom 100ms ease, filter 100ms ease;
}

* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", Sans-serif;
  transition: var(--transition);
}

.blur {
  backdrop-filter: blur(0.25em);
}

.blurier {
  backdrop-filter: blur(0.5em);
}

.darken {
  background-color: var(--darken);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 36px 0;
  }
}

body {
  background-color: var(--background-color);
  background-image: url("../img/tile.png");
  animation: linear bg-scrolling-reverse 3s infinite;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-size: clamp(0.25em, min(2vw, 2.5vh), 1em);
}

form {
  width: 100%;
  height: 100%;
}

h1 {
  color: var(--foreground-color);
  text-align: center;
  width: 100%;
}

.header {
  font-size: 2.5em;
  font-weight: bolder;
  font-style: oblique;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  color: var(--foreground-color);
}

.header:disabled {
  opacity: 0.5 !important;
  cursor: not-allowed;
}

.debug {
  border: var(--border-width) solid rgb(255, 0, 255);
  background: rgba(255, 0, 255, 0.15);
}

.hide {
  display: none !important;
}

.border-left {
  border-left: var(--border-width) solid var(--border-color);
}

.border-right {
  border-right: var(--border-width) solid var(--border-color);
}

.border-top {
  border-top: var(--border-width) solid var(--border-color);
}

.border-bottom {
  border-bottom: var(--border-width) solid var(--border-color);
}

.container {
  padding: 0;
  margin: 0 auto;
  max-width: max-content;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: 6.125em auto;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas:
    "title social"
    "results stats";
}

.title {
  grid-area: title;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2em;
  overflow: auto;
  gap: 1.5em;
}

@keyframes twirl {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ship:not(:active) {
  animation: 200ms twirl ease;
}

.social {
  grid-area: social;
  display: flex;
  width: 23em;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  padding: 0;
}

.social:hover a {
  opacity: 0.5;
}

.social:hover a:hover {
  text-shadow: 0 0 0.75em var(--accent-color);
  color: var(--foreground-color-hover);
  opacity: 1;
  cursor: pointer;
}

#info-banner {
  white-space: nowrap;
}

.stats {
  grid-area: stats;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: min-content;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content auto;
  grid-template-areas:
    "query"
    "info";
}

.query {
  grid-area: query;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
}

.table-query {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  background: var(--panel-color);
}

.query-button {
  font-size: 1em;
  width: 100%;
  border: none;
  background: none;
  color: var(--foreground-color);
  margin: 0;
  padding: 0;
}

.query-button:disabled {
  color: var(--foreground-color);
  text-shadow: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.info {
  flex-grow: 1;
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25em;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--foreground-color);
}

.chart-controls {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  margin-bottom: 0.5em;
  box-shadow: 0 0 0.25em 0.25em var(--background-color);
}

.chart-tabs {
  padding: 0;
  background-color: var(--panel-color);
  border: var(--border-width) solid var(--border-color);
  border-bottom: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100%;
}

.chart-tab {
  background-color: var(--darken);
  border: none;
  color: var(--foreground-color);
  flex-grow: 1;
  font-size: 1.5em;
  font-weight: bolder;
  margin: 0;
  padding-top: 0.125em;
  padding-bottom: 0.125em;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
}

.chart-tab:hover {
  text-shadow: 0 0 0.75em var(--accent-color);
  color: var(--foreground-color-hover);
  background-color: var(--panel-color);
  cursor: pointer;
}

.chart-tab.active {
  color: var(--foreground-color-hover);
  background-color: var(--panel-color-hover);
  text-decoration: underline;
}

.chart-header {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  font-size: 1.25em;
  font-weight: bold;
  gap: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

#header-target-id:hover {
  color: var(--foreground-color-hover);
  background-color: var(--bad-color-a);
  text-shadow: 0 0 0.75em var(--bad-color);
  cursor: pointer;
}

#header-comparison-id:hover {
  color: var(--foreground-color-hover);
  background-color: var(--good-color-a);
  text-shadow: 0 0 0.75em var(--good-color);
  cursor: pointer;
}

#header-target-id,
#header-comparison-id {
  border: none;
  color: var(--foreground-color);
  flex-grow: 1;
  font-size: 1em;
  font-weight: bold;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
}

#header-target-id.striked,
#header-comparison-id.striked {
  text-decoration: line-through;
}

#header-target-id {
  background-color: var(--bad-color-a1);
  border-left: var(--border-width) dashed var(--bad-color);
  border-bottom: var(--border-width) dashed var(--bad-color);
}

#header-comparison-id {
  background-color: var(--good-color-a1);
  border-right: var(--border-width) solid var(--good-color);
  border-bottom: var(--border-width) solid var(--good-color);
}

.chart-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.25em;
}

#chart-radar {
  margin: 0 -1em;
}

#chart-extra {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

#table-extra {
  background-color: var(--background-color);
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  font-size: 1em;
}


#table-extra .cell-durability:hover:before,
#table-extra .cell-thrust:hover:before,
#table-extra .cell-thrustspeed:hover:before,
#table-extra .cell-speed:hover:before,
#table-extra .cell-stability:hover:before,
#table-extra .cell-steer:hover:before,
#table-extra .cell-strafe:hover:before {
  color: var(--border-color-hover);
  text-shadow: none;
  opacity: 0.25;
}


#table-extra .cell-info-header:hover,
#table-extra .cell-info:hover,
#table-extra .cell-info-footer:hover {
  color: var(--foreground-color-hover);
  background-color: var(--panel-color-hover);
  text-shadow: 0 0 0.75em var(--accent-color);
}

#table-extra .cell-target-header:hover,
#table-extra .cell-target:hover,
#table-extra .cell-target:hover {
  color: var(--foreground-color-hover);
  background-color: var(--bad-color-a);
  text-shadow: 0 0 0.75em var(--bad-color);
}

#table-extra .cell-comparison-header:hover,
#table-extra .cell-comparison:hover,
#table-extra .cell-comparison:hover {
  color: var(--foreground-color-hover);
  background-color: var(--good-color-a);
  text-shadow: 0 0 0.75em var(--good-color);
}

#table-extra .cell-info-header {
  border-top: var(--border-width) solid var(--border-color);
}

#table-extra .cell-info,
#table-extra .cell-info-header,
#table-extra .cell-info-footer {
  background-color: var(--panel-color);
  border-left: var(--border-width) solid var(--border-color);
  border-bottom: var(--border-width) dashed var(--border-color-dim);
  height: 2em;
  padding-left: 0.25em;
  position: relative;
}

#table-extra .cell-info-footer {
  border-bottom: var(--border-width) solid var(--border-color);
}

#table-extra .cell-target-header {
  border-top: var(--border-width) dashed var(--bad-color);
  width: 5.25em;
}

#table-extra .cell-comparison-header {
  border-top: var(--border-width) solid var(--good-color);
  width: 5.25em;
}

#table-extra .cell-target,
#table-extra .cell-target-header {
  background-color: var(--bad-color-a1);
  border-left: var(--border-width) dashed var(--bad-color);
  border-bottom: var(--border-width) dashed var(--bad-color);
  text-align: center;
  font-weight: bolder;
}

#table-extra .cell-comparison,
#table-extra .cell-comparison-header {
  background-color: var(--good-color-a1);
  border-right: var(--border-width) solid var(--good-color);
  border-bottom: var(--border-width) solid var(--good-color);
  text-align: center;
  font-weight: bolder;
}

#table-extra .cell-durability:before,
#table-extra .cell-thrust:before,
#table-extra .cell-thrustspeed:before,
#table-extra .cell-speed:before,
#table-extra .cell-stability:before,
#table-extra .cell-steer:before,
#table-extra .cell-strafe:before {
  position: absolute;
  color: var(--border-color);
  font-family: 'FontAwesome';
  font-style: normal;
  right: 0.25em;
  opacity: 0.25;
}

#table-extra .cell-durability:before {
  content: "\2b";
}

#table-extra .cell-thrust:before {
  content: "\f06d";
}

#table-extra .cell-thrust.cell-speed:before {
  content: "\f06d   \f625";
}

#table-extra .cell-speed:before {
  content: "\f625";
}

#table-extra .cell-stability:before {
  content: "\f076";
}

#table-extra .cell-steer:before {
  content: "\f2f1";
}

#table-extra .cell-strafe:before {
  content: "\f337";
}

#table-stats {
  background-color: var(--background-color);
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  font-size: 1.25em;
}

#table-stats tr {
  height: 2em;
}

#table-stats #cell-target-durability:hover:before,
#table-stats #cell-target-thrust:hover:before,
#table-stats #cell-target-speed:hover:before,
#table-stats #cell-target-stability:hover:before,
#table-stats #cell-target-steer:hover:before,
#table-stats #cell-target-strafe:hover:before,
#table-stats #cell-target-propulsor:hover:before,
#table-stats #cell-target-stabilizer:hover:before,
#table-stats #cell-target-rudder:hover:before,
#table-stats #cell-target-hull:hover:before,
#table-stats #cell-target-intercooler:hover:before,
#table-stats #cell-target-esc:hover:before {
  color: var(--bad-color-1);
  opacity: 0.25;
  text-shadow: none;
}

#table-stats #cell-comparison-durability:hover:before,
#table-stats #cell-comparison-thrust:hover:before,
#table-stats #cell-comparison-speed:hover:before,
#table-stats #cell-comparison-stability:hover:before,
#table-stats #cell-comparison-steer:hover:before,
#table-stats #cell-comparison-strafe:hover:before,
#table-stats #cell-comparison-propulsor:hover:before,
#table-stats #cell-comparison-stabilizer:hover:before,
#table-stats #cell-comparison-rudder:hover:before,
#table-stats #cell-comparison-hull:hover:before,
#table-stats #cell-comparison-intercooler:hover:before,
#table-stats #cell-comparison-esc:hover:before {
  color: var(--good-color-1);
  opacity: 0.25;
  text-shadow: none;
}

#table-stats .header-delta:hover,
#table-stats .column-delta:hover {
  color: var(--foreground-color-hover);
  background-color: var(--panel-color-hover);
  text-shadow: 0 0 0.75em var(--accent-color);
}

#table-stats .header-target:hover,
#table-stats .cell-target:hover {
  color: var(--foreground-color-hover);
  background-color: var(--bad-color-a);
  text-shadow: 0 0 0.75em var(--bad-color);
}

#table-stats .header-comparison:hover,
#table-stats .cell-comparison:hover {
  color: var(--foreground-color-hover);
  background-color: var(--good-color-a);
  text-shadow: 0 0 0.75em var(--good-color);
}

#table-stats .header-delta {
  background-color: var(--panel-color-hover);
  border: var(--border-width) solid var(--border-color);
}

#table-stats .header-target {
  background-color: var(--bad-color-a);
  text-shadow: 0 0 0.75em var(--bad-color-a);
  border-left: var(--border-width) dashed var(--bad-color-a1);
  border-bottom: var(--border-width) dashed var(--bad-color);
  border-top: var(--border-width) dashed var(--bad-color);
  width: 3.7em;
}

#table-stats .header-target:first-child {
  border-left: var(--border-width) dashed var(--bad-color);
}

#table-stats .header-comparison {
  background-color: var(--good-color-a);
  text-shadow: 0 0 0.75em var(--good-color-a);
  border-right: var(--border-width) solid var(--good-color-a1);
  border-bottom: var(--border-width) solid var(--good-color);
  border-top: var(--border-width) solid var(--good-color);
  width: 3.7em;
}

#table-stats .header-comparison:last-child {
  border-right: var(--border-width) solid var(--good-color);
}

#table-stats .cell-part,
#table-stats .cell-target,
#table-stats .cell-comparison {
  position: relative;
}

#table-stats .column-delta {
  background-color: var(--panel-color);
  border-left: var(--border-width) solid var(--border-color-dim);
  border-right: var(--border-width) solid var(--border-color-dim);
  border-bottom: var(--border-width) solid var(--border-color);
  text-align: center;
}

#table-stats .cell-part {
  font-weight: bolder;
}

#table-stats #cell-target-durability:before,
#table-stats #cell-target-thrust:before,
#table-stats #cell-target-speed:before,
#table-stats #cell-target-stability:before,
#table-stats #cell-target-steer:before,
#table-stats #cell-target-strafe:before,
#table-stats #cell-target-propulsor:before,
#table-stats #cell-target-stabilizer:before,
#table-stats #cell-target-rudder:before,
#table-stats #cell-target-hull:before,
#table-stats #cell-target-intercooler:before,
#table-stats #cell-target-esc:before {
  position: absolute;
  color: var(--bad-color);
  font-family: 'FontAwesome';
  font-style: normal;
  left: 0.125em;
  opacity: 0.125;
}

#table-stats #cell-comparison-durability:before,
#table-stats #cell-comparison-thrust:before,
#table-stats #cell-comparison-speed:before,
#table-stats #cell-comparison-stability:before,
#table-stats #cell-comparison-steer:before,
#table-stats #cell-comparison-strafe:before,
#table-stats #cell-comparison-propulsor:before,
#table-stats #cell-comparison-stabilizer:before,
#table-stats #cell-comparison-rudder:before,
#table-stats #cell-comparison-hull:before,
#table-stats #cell-comparison-intercooler:before,
#table-stats #cell-comparison-esc:before {
  position: absolute;
  color: var(--good-color);
  font-family: 'FontAwesome';
  font-style: normal;
  right: 0.125em;
  opacity: 0.125;
}

#table-stats #cell-target-durability:before,
#table-stats #cell-comparison-durability:before {
  content: "\2b";
}

#table-stats #cell-target-thrust:before,
#table-stats #cell-comparison-thrust:before {
  content: "\f06d";
}

#table-stats #cell-target-speed:before,
#table-stats #cell-comparison-speed:before {
  content: "\f625";
}

#table-stats #cell-target-stability:before,
#table-stats #cell-comparison-stability:before {
  content: "\f076";
}

#table-stats #cell-target-steer:before,
#table-stats #cell-comparison-steer:before {
  content: "\f2f1";
}

#table-stats #cell-target-strafe:before,
#table-stats #cell-comparison-strafe:before {
  content: "\f337";
}

#table-stats #cell-target-propulsor:before,
#table-stats #cell-comparison-propulsor:before {
  content: "\f101";
}

#table-stats #cell-target-stabilizer:before,
#table-stats #cell-comparison-stabilizer:before {
  content: "\f5af";
}

#table-stats #cell-target-rudder:before,
#table-stats #cell-comparison-rudder:before {
  content: "\f655";
}

#table-stats #cell-target-hull:before,
#table-stats #cell-comparison-hull:before {
  content: "\f3ed";
}

#table-stats #cell-target-intercooler:before,
#table-stats #cell-comparison-intercooler:before {
  content: "\f2dc";
}

#table-stats #cell-target-esc:before,
#table-stats #cell-comparison-esc:before {
  content: "\f0e7";
}

#table-stats .cell-target {
  background-color: var(--bad-color-a1);
  border-left: var(--border-width) dashed var(--bad-color-a1);
  border-bottom: var(--border-width) dashed var(--bad-color);
  text-align: center;
  font-weight: bolder;
}

#table-stats .cell-target:first-child {
  border-left: var(--border-width) dashed var(--bad-color);
}

#table-stats .cell-comparison {
  background-color: var(--good-color-a1);
  border-right: var(--border-width) solid var(--good-color-a1);
  border-bottom: var(--border-width) solid var(--good-color);
  text-align: center;
  font-weight: bolder;
}

#table-stats .cell-comparison:last-child {
  border-right: var(--border-width) solid var(--good-color);
}

#table-stats .cell-good {
  background-color: var(--good-color-a2);
  color: var(--good-color);
  border-bottom: var(--border-width) solid var(--good-color);
  border-left: var(--border-width) solid var(--good-color);
  border-right: var(--border-width) solid var(--good-color-a1);
  font-weight: bolder;
}

#table-stats .cell-good:hover {
  color: var(--foreground-color-hover);
  background-color: var(--good-color-a);
  text-shadow: 0 0 0.75em var(--good-color);
}

#table-stats .cell-bad {
  background-color: var(--bad-color-a2);
  color: var(--bad-color);
  border-bottom: var(--border-width) dashed var(--bad-color);
  border-left: var(--border-width) dashed var(--bad-color-a1);
  border-right: var(--border-width) dashed var(--bad-color);
  font-weight: bolder;
}

#table-stats .cell-bad:hover {
  color: var(--foreground-color-hover);
  background-color: var(--bad-color-a);
  text-shadow: 0 0 0.75em var(--bad-color);
}

.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 1em;
}

.logo img {
  width: 16em;
  margin-left: -3%;
  margin-bottom: -3%;
}

.results {
  grid-area: results;
  overflow: auto;
}

#table-results {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

#table-results thead {
  background-color: var(--panel-color);
  position: sticky;
  top: 0;
  height: 6.125em;
  box-shadow: 0 0 0.25em 0.25em var(--background-color);
}

#table-results tbody {
  overflow: auto;
}

.row-headings th,
.row-query th {
  color: var(--foreground-color);
  font-size: 1.75em;
  font-weight: bolder;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0.25em;
  user-select: none;
}

.row-headings>th>span>img {
  min-width: 1.25em;
  width: 100%;
  height: 1.1em;
  object-fit: contain;
  display: block;
}

.row-headings th:disabled {
  opacity: 0.5;
}

.row-headings:hover {
  background-color: var(--panel-color-hover);
}

.row-headings:hover th {
  color: var(--foreground-color-hover);
}

.row-headings:hover th:hover {
  text-shadow: 0 0 0.75em var(--accent-color);
  cursor: pointer;
}

.row-query th:hover {
  background-color: var(--panel-color-hover);
  cursor: pointer;
}

.row-headings th.active {
  color: var(--foreground-color-hover);
  text-shadow: 0 0 0.75em var(--accent-color);
}

.row-headings th.active:not(.asc)::after {
  content: "🞃";
  font-size: 0.75em;
  color: var(--foreground-color-hover);
  text-shadow: 0 0 0.75em var(--accent-color);
}

.row-headings th.active::after {
  content: "🞁";
  font-size: 0.75em;
  color: var(--foreground-color-hover);
  text-shadow: 0 0 0.75em var(--accent-color);
}

.column-select {
  appearance: none;
  color: var(--foreground-color);
  background-color: var(--panel-color);
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}

.column-select:hover {
  color: var(--foreground-color-hover);
  background-color: var(--panel-color-hover) !important;
  text-shadow: 0 0 0.75em var(--accent-color);
  cursor: pointer;
}

.column-select.active {
  color: var(--foreground-color-hover);
  background-color: var(--panel-color-hover) !important;
  text-shadow: 0 0 0.75em var(--accent-color);
  text-decoration: underline;
  border-bottom: var(--border-width) solid var(--panel-color-hover);
}

.column-select:has(+ .column-select.active) {
  border-right: var(--border-width) solid var(--border-color);
}

.column-select.active:has(+ .column-select) {
  border-right: var(--border-width) solid var(--border-color);
}

.column-input:not(#select-id) {
  width: 1.75em;
}

.column-input {
  appearance: textfield;
  font-size: 1em;
  border: none;
  background: none;
  color: var(--foreground-color);
  padding: 0;
  margin: 0;
  max-width: min-content;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.column-input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.column-input:invalid {
  color: var(--bad-color);
}

.column-input:hover {
  color: var(--foreground-color-hover);
  text-shadow: 0 0 0.75em var(--accent-color);
}

.input-ignored {
  opacity: 0.5;
}

.column-input::-webkit-outer-spin-button,
.column-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.extra-id,
.extra-parts,
.extra-power,
.extra-stats {
  padding: 0.25em;
  user-select: none;
}

.extra-parts {
  width: 30em;
  background-color: var(--panel-color-hover);
}

.extra-id:hover,
.extra-power:hover,
.extra-stats:hover {
  background-color: var(--panel-color-hover);
}

.extra-power {
  width: 10em;
}

.power-selectors {
  padding: 0;
  height: 6.75em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: stretch;
}

.stat-changers {
  padding: 0;
  height: 6.75em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: stretch;
}

.power-selectors input {
  flex-basis: 50%;
  appearance: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 0;
  min-width: 100%;
  height: 0;
  color: var(--foreground-color);
  border: var(--border-width) solid var(--power-foreground-color);
  border-radius: 0.25em;
}

.power-selectors .slider-power-min {
  background: linear-gradient(to right,
      var(--background-color) calc(var(--power-min-value) + 0.1%),
      var(--power-color) calc(var(--power-min-value)));
}

.power-selectors .slider-power-max {
  background: linear-gradient(to right,
      var(--power-color) calc(var(--power-max-value) + 0.1%),
      var(--background-color) var(--power-max-value));
}

.power-selectors input:focus,
.power-selectors input:hover {
  filter: brightness(125%);
}

.power-selectors input:active {
  filter: brightness(115%) contrast(105%);
}

.power-selectors .labels-power {
  display: flex;
  justify-content: space-between;
  color: var(--power-color);
  text-transform: uppercase;
  font-size: 1.25em;
}

.power-selectors .labels-power label:hover {
  color: var(--power-glow-color);
  text-shadow: 0 0 0.75em var(--accent-color);
}

.power-selectors #slider-power-min::-webkit-slider-thumb,
.power-selectors #slider-power-min::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.75em;
  height: 100%;
  cursor: ew-resize;
  background: var(--power-foreground-color);
  border: var(--border-width) solid var(--power-color);
  border-radius: 0.25em 0 0 0.25em;
}

.power-selectors #slider-power-max::-webkit-slider-thumb,
.power-selectors #slider-power-max::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.75em;
  height: 100%;
  cursor: ew-resize;
  background: var(--power-foreground-color);
  border: var(--border-width) solid var(--power-color);
  border-radius: 0 0.25em 0.25em 0;
}

.power-input {
  appearance: textfield !important;
  font-size: 1.5em;
  border: none;
  background: none;
  color: var(--foreground-color);
  padding: 0;
  margin: 0;
  max-width: min-content;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.power-input:invalid {
  color: var(--bad-color);
}

.power-input::-webkit-outer-spin-button,
.power-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.part-selectors {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 6.75em;
}

.part-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 0.25em;
  color: var(--foreground-color);
}

.quick-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.ship-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: var(--foreground-color);
  height: 6.75em;
}

.part-selector .label-checkbox {
  background-color: var(--darken);
  font-size: 1.25em;
  width: 18em;
  padding: 0.05em 0;
  flex-basis: calc(100% * 1 / 6);
}

.part-selector .label-checkbox:hover {
  color: var(--foreground-color-hover);
  background-color: var(--border-color-dim);
  filter: brightness(125%) contrast(100%);
  text-shadow: 0 0 0.75em var(--accent-color);
  cursor: pointer;
}

.part-selector .label-checkbox:nth-child(2) {
  border-radius: 0.25em 0 0 0;
}

.part-selector .label-checkbox:nth-child(12) {
  border-radius: 0 0.25em 0 0;
}

.part-selector .label-checkbox:nth-child(24) {
  border-radius: 0 0 0.25em 0;
}

.part-selector .label-checkbox:nth-child(26) {
  border-radius: 0 0 0 0.25em;
}

.part-selector .label-checkbox:last-child {
  border-radius: 0 0 0.25em 0;
}

.part-selector .checkbox-part:checked+.label-checkbox {
  color: var(--background-color);
  text-shadow: none;
}

.checkbox-part:checked+.part-class-X {
  background: var(--class-x);
}

.checkbox-part:checked+.part-class-S {
  background: var(--class-s);
}

.checkbox-part:checked+.part-class-A {
  background: var(--class-a);
}

.checkbox-part:checked+.part-class-B {
  background: var(--class-b);
}

.checkbox-part:checked+.part-class-C {
  background: var(--class-c);
}

.part-selector .label-checkbox:active {
  background: var(--darken) !important;
  color: var(--power-color) !important;
}

.quick-selector button {
  font-size: 1.25em;
  font-weight: bolder;
  text-transform: uppercase;
  width: 1.5em;
  flex-basis: calc(100% * 1 / 6);
  margin: 0;
  padding: 0.05em 0;
  border: 0;
  color: var(--foreground-color);
  background-color: var(--panel-color);
}

.quick-selector button:first-child {
  border-radius: 0.25em 0 0 0.25em;
}

.quick-selector button:last-child {
  border-radius: 0 0.25em 0.25em 0;
}

.quick-selector button:hover {
  background: radial-gradient(var(--power-glow-color) 0%, var(--power-color) 100%);
  color: var(--power-foreground-color);
}

.quick-selector button:active {
  background: var(--darken);
  color: var(--power-color);
}

.ship-selector .label-checkbox {
  width: 0;
  background-color: var(--darken);
  flex-basis: calc(100% * 1 / 4);
}

.ship-selector .label-checkbox:nth-child(2) {
  border-radius: 0.25em 0 0 0;
}

.ship-selector .label-checkbox:nth-child(8) {
  border-radius: 0 0.25em 0 0;
}

.ship-selector .label-checkbox:nth-child(18) {
  border-radius: 0 0 0 0.25em;
}

.ship-selector .label-checkbox:last-child {
  border-radius: 0 0 0.25em 0;
}

.ship-selector .label-checkbox img {
  width: 2em;
  height: 2em;
  filter: sepia(100%) hue-rotate(150deg);
}

.ship-selector .checkbox-part:checked+.label-checkbox {
  background-color: var(--border-color-dim);
}

.ship-selector .checkbox-part:checked+.label-checkbox img {
  filter: sepia(0%) hue-rotate(0deg) brightness(125%) contrast(100%) drop-shadow(0 0 0.1em var(--background-color));
}

.ship-selector .label-checkbox:hover {
  color: var(--foreground-color-hover);
  background-color: var(--border-color) !important;
  filter: brightness(125%) contrast(100%);
  text-shadow: 0 0 0.75em var(--accent-color);
  cursor: pointer;
}

.stat-manipulators {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 0.25em;
  color: var(--foreground-color);
}

.stat-manipulators button {
  font-size: 1.75em;
  font-weight: bolder;
  text-transform: uppercase;
  width: 0;
  height: 1.5em;
  flex-basis: calc(100% * 1 / 6);
  border-top: var(--border-width) solid var(--border-color-dim);
  border-bottom: var(--border-width) solid var(--border-color-dim);
  margin: 0;
  background: var(--background-color);
  color: var(--foreground-color);
}

.stat-manipulators button:first-child,
.stat-conditioners label:nth-child(2) {
  border-radius: 0.25em 0 0 0.25em;
  border-left: var(--border-width) solid var(--border-color-dim);
}

.stat-manipulators button:last-child,
.stat-conditioners label:nth-child(4) {
  border-radius: 0 0.25em 0.25em 0;
  border-right: var(--border-width) solid var(--border-color-dim);
}

.stat-manipulators button:hover {
  background: radial-gradient(var(--power-glow-color) 0%, var(--power-color) 100%);
  color: var(--power-foreground-color);
}

.stat-manipulators button:active {
  background: var(--darken);
  color: var(--power-color);
}

.stat-conditioners {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: var(--foreground-color);
}

.stat-conditioners label {
  font-size: 1.5em;
  font-weight: bolder;
  text-transform: uppercase;
  vertical-align: middle;
  width: 0;
  flex-basis: 50%;
  border-top: var(--border-width) solid var(--border-color-dim);
  border-bottom: var(--border-width) solid var(--border-color-dim);
  margin: 0;
  padding: 0 1em;
  background: var(--background-color);
  color: var(--foreground-color);
}

.stat-conditioners input:checked+label,
.stat-conditioners label:hover {
  background: radial-gradient(var(--power-glow-color) 0%, var(--power-color) 100%);
  color: var(--power-foreground-color);
}

.stat-conditioners input:checked+label:active,
.stat-conditioners label:active {
  background: var(--darken);
  color: var(--power-color);
}

#table-results tbody tr td {
  font-style: oblique;
}

#table-results tbody tr:hover {
  background-color: var(--panel-color);
}

#table-results tbody tr:hover td {
  color: var(--foreground-color-hover);
  border-bottom: var(--border-width) solid var(--border-color);
}

#table-results tbody tr td {
  color: var(--foreground-color);
  font-size: 1.5em;
  text-align: center;
  white-space: nowrap;
  padding: 0.25em;
}

#table-results tbody tr:hover td:hover {
  text-shadow: 0 0 0.75em var(--accent-color);
  color: var(--foreground-color-hover) !important;
  background-color: var(--panel-color-hover);
}

.results-cell-bottom {
  border-bottom: var(--border-width) solid var(--border-color-dim);
}

.results-cell-left {
  border-left: var(--border-width) solid var(--border-color-dim);
}

.results-cell-right {
  border-right: var(--border-width) solid var(--border-color-dim);
}

.cell-ship {
  font-style: normal !important;
  font-weight: bolder;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.075em;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

.cell-ship span {
  flex-grow: 2;
  display: inline-block;
  text-align-last: justify;
  word-spacing: -0.25em;
}

.cell-ship img {
  width: 1.125em;
  height: 1.125em;
}

.row-query>.cell-power {
  min-width: 5.75em;
}

.cell-power {
  font-style: normal !important;
  font-weight: bolder;
}

.cell-power span {
  border-radius: 1em;
  background: radial-gradient(var(--power-glow-color) 0%, var(--power-color) 100%) !important;
  color: var(--power-foreground-color) !important;
  text-shadow: none !important;
  padding: 0 0.5em;
}

.cell-power:hover {
  color: var(--power-foreground-color) !important;
}

.cell-power-fault:hover>span {
  background: radial-gradient(var(--power-fault-glow-color) 0%, var(--power-fault-color) 100%) !important;
  color: var(--power-fault-foreground-color) !important;
  text-shadow: none !important;
}

#table-results .cell-good {
  color: var(--good-color) !important;
  background-color: var(--good-color-a2);
  text-shadow: 0 0 0.75em var(--good-color-a);
  text-decoration: underline;
  font-weight: 700;
}

#table-results .cell-bad {
  color: var(--bad-color) !important;
  background-color: var(--bad-color-a2);
  text-shadow: 0 0 0.75em var(--bad-color-a);
  text-decoration: overline;
  font-weight: 700;
}

#table-results .cell-good-1 {
  color: var(--good-color-1) !important;
  background-color: var(--good-color-a3);
  text-shadow: 0 0 0.75em var(--good-color-a1);
  text-decoration: underline;
  font-weight: 600;
}

#table-results .cell-bad-1 {
  color: var(--bad-color-1) !important;
  background-color: var(--bad-color-a3);
  text-shadow: 0 0 0.75em var(--bad-color-a1);
  text-decoration: overline;
  font-weight: 600;
}

#table-results .cell-good-2 {
  color: var(--good-color-2) !important;
  background-color: var(--good-color-a4);
  text-shadow: 0 0 0.75em var(--good-color-a2);
  text-decoration: underline;
  font-weight: 500;
}

#table-results .cell-bad-2 {
  color: var(--bad-color-2) !important;
  background-color: var(--bad-color-a4);
  text-shadow: 0 0 0.75em var(--bad-color-a2);
  text-decoration: overline;
  font-weight: 500;
}

.cell-class-X {
  color: var(--class-x) !important;
  font-weight: bolder;
}

.cell-class-S {
  color: var(--class-s) !important;
  font-weight: bolder;
}

.cell-class-A {
  color: var(--class-a) !important;
  font-weight: bolder;
}

.cell-class-B {
  color: var(--class-b) !important;
  font-weight: bolder;
}

.cell-class-C {
  color: var(--class-c) !important;
  font-weight: bolder;
}

#tbody-results .selected {
  background: linear-gradient(var(--panel-color) 0%, var(--panel-color) 50%, var(--panel-color-hover) 100%);
  cursor: pointer;
}

#tbody-results .selected td {
  color: var(--foreground-color-hover);
  border-bottom: var(--border-width) solid var(--border-color-hover) !important;
}

#tbody-results .targeted:not(.selected) {
  background: linear-gradient(var(--panel-color) 0%, var(--panel-color) 50%, var(--bad-color-opaque) 100%);
  cursor: pointer;
}

#tbody-results .targeted:not(.selected) td {
  color: var(--foreground-color-hover);
  border-bottom: var(--border-width) dashed var(--bad-color) !important;
}

#tbody-results .targeted:not(.selected) td:hover {
  background: var(--bad-color-opaque);
}

#tbody-results .pinned:not(.selected, .targeted) {
  background: linear-gradient(var(--panel-color) 0%, var(--panel-color) 50%, var(--good-color-opaque) 100%);
  cursor: pointer;
}

#tbody-results .pinned:not(.selected, .targeted) td {
  color: var(--foreground-color-hover);
  border-bottom: var(--border-width) solid var(--good-color) !important;
}

#tbody-results .pinned:not(.selected, .targeted) td:hover {
  background: var(--good-color-opaque);
}

#tbody-results .pinned:not(.selected):hover {
  background: linear-gradient(var(--panel-color) 0%, var(--panel-color) 50%, var(--good-color-opaque) 100%);
  border-bottom: var(--border-width) solid var(--good-color) !important;
}

#tbody-results .pinned:not(.selected)>td:hover {
  background: var(--good-color-opaque);
}